.msg {
  height: 20px;
}

.container {
  width: 100%;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 20px auto 0 auto;
}

.goose-list li {
  margin-bottom: 5px;
}

.filter-input {
  padding: 12px 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #aaa;
}
